[submodule "eg"]
	path = eg
	url = git@gitlab.com:adjivas/eg.git
	branch = french
[submodule "sentencetype"]
	path = sentencetype
	url = git@gitlab.com:adjivas/sentencetype.git
	branch = french
[submodule "synonym"]
	path = synonym
	url = git@gitlab.com:adjivas/synonym.git
	branch = french
